/* Reset some default styles */

.icon {
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

/* Style individual columns */
.column {
  flex: 1; /* Make columns equal width within a row */
  padding: 10px;
  border: 1px solid #ddd; /* Add a border for separation (optional) */
}

/* Style the image column */
.image-column img {
  max-width: 100%; /* Ensure images don't overflow the container */
}

/* Additional styles for text content */
.text-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.hr {
  margin: 0px 0px !important;
  color: rgba(217, 217, 217, 1);
}
.text-column p {
  font-size: 16px;
  line-height: 1.5;
}
.totalbooking {
  color: rgba(37, 132, 220, 1);
  font-size: 18px;
  margin: 5px 0px !important;
}
.reviews {
  color: rgba(172, 172, 172, 1);
  font-size: 15px;
}
.reviewss {
  color: rgba(172, 172, 172, 1);
  font-size: 15px;
}
.view {
  height: 30px;
  font-size: 12px;
  width: 80px;
  margin-left: 6px;
  background-color: rgba(37, 132, 220, 1);
  color: white;
  border: transparent;
}
h6 {
  font-size: 12px;
}
.thing {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin for spacing between rows */
}
.stdr {
  font-weight: bold;
  font-size: 18px;
  margin: 0px 0px !important;
}
.osuite {
  font-size: 30px;
  font-weight: bold;
}
.aboutslide {
  padding: 20px;
}
.wordings {
  flex-grow: 1;
  margin-left:150px;
}
.details {
  color: rgba(1, 41, 78, 1);
  font-weight: bold;
  font-size: 24px;
}
.icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.terms {
  font-size: 20px;
  font-weight: bold;
  color: rgba(1, 41, 78, 1);
}
.pay1 {
  width: 100%;
  height: 45px;
  background-color: rgba(37, 132, 220, 1);
  border: transparent;
  margin-top: 50px;
}
.amount {
  color: rgba(1, 41, 78, 1);
  font-weight: bold;
  margin-top: 50px;
}
.pay {
  width: 100%;
  height: 45px;
  background-color: rgba(217, 217, 217, 1);
  border: transparent;
  margin-top: 50px;
  cursor: not-allowed !important;
}
.pay:focus,
.pay:hover {
  background-color: rgba(217, 217, 217, 1);
  border: transparent;
  box-shadow: none !important;
}
.pays {
  width: 100%;
  height: 45px;
  background-color: rgba(217, 217, 217, 1);
  border: transparent;
  margin-top: 95px;
}

.imgthumbl {
  width: calc(25% - 9px);
  margin-right: 12px;
}
.imgthumbc1 {
  width: calc(25% - 9px);
  margin-right: 6px;
}
.imgthumbc2 {
  width: calc(25% - 9px);
  margin-left: 6px;
}
.imgthumbr {
  width: calc(25% - 9px);
  margin-left: 12px;
}
.imgmain {
  width: 100%;
  height: 75%;
  margin-bottom: 10px;
}
.maincon {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: 30px;
}
.cuscon {
  margin: 0px 30px !important;
}
.faq {
  color: rgba(37, 132, 220, 1);
}

@media screen and (max-width: 764px) {
  .maincon {
    margin: 20px;
  }
  .standard {
    margin-top: 30px !important;
    padding: 0px 0px 0px 0px !important;
  }
  .stand {
    padding: 10px 0px 0px 0px !important;
  }
  .cuscon {
    margin: 0px 20px !important;
  }
  .imgdiv {
    max-width: unset !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .faq {
    color: rgba(37, 132, 220, 1);
    font-size: 18px;
  }
  .pay {
    width: 100%;
    height: 45px;
    background-color: rgba(217, 217, 217, 1);
    border: transparent;
  }
  .wordings {
    flex-grow: 1;
  margin-left:0px !important;}
}
@media screen and (max-width: 992px) {
  .standard {
    margin-top: 30px;
    padding: 0px 0px !important;
  }
  .wordings {
    flex-grow: 1;
  margin-left:0px !important;}

  .stand {
    margin-top: 30px;
  }
  .amount {
    color: rgba(1, 41, 78, 1);
    font-weight: bold;
    margin-top: 5px;
  }
}
